:root {
  --background: #171a21;
  --primary: #66c0f4;
  --secondary: #1b2838;
  --success: #74AE2E;
  --container: #2a475e;
  --white: #c7d5e0;
  --warning: #ffe600de;
  --font_segoe: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

html {
  background-color: var(--background);
  font-family: var(--font_segoe);
}

body {
  padding: 20px;
  padding-top: 10px;
  min-width: 400px;
}

.header_title {
  width: 100%;
  display: flex;
  justify-content: center;
  color: var(--white);
  font-size: 15px;
}

.tax__header--container {
  display: flex;
  margin: 12px 0px;
  align-items: center;
}

.tax__header--page_title {
  margin-top: 0px;
  color: var(--white);
  font-size: 20px;
}

.tax__header--find_item {
  font-size: 15px;
  margin-left: 5px;
  color: var(--warning);
}

#manual_amount_input {
  margin-bottom: 15px;
  border-radius: 7px;
  line-height: 1.5;
  padding: 5px;
  outline: none;
  border: 1px solid black;
  color: var(--primary);
  background: var(--container);
}

#manual_amount_input::-webkit-input-placeholder {
  color: var(--primary);
  padding-left: 5px;
}

.tax__values {
  display: flex;
  flex-direction: column;
  color: var(--primary);
}

.tax__values--value {
  display: flex;
}

.tax__values--value > .amount > .amount--value {
  font-weight: bold;
  font-size: 14px;
  margin-left: 5px;
}

.tax__values--value > .amount {
  display: flex;
}

.amount {
  margin-right: 2px;
}

.amount--title {
  font-size: 14px;
}

.helper {
  font-size: 11px;
  color: #74AE2E;
}

#total_final {
  font-size: 15px;
  font-weight: bold;
}

.footer {
  font-weight: bold;
  font-size: 11px;
  color: var(--primary);
}